.box {
  width: 350px;
  &-item {
    display: flex;
    justify-content: center;
    flex:1;
    margin-bottom: 36px;
  }
  &-file {
    flex-direction: column;
    &-1-1:not(:last-child) {
      margin-bottom:36px;
    }
  }
}

input[type=text], input[type=password] {
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  padding: 14px;
  font-size: 16px;
  width: 100%;
  color: inherit;

  // .icon {
  //   background-image: ;
  // }
}

//buttons
.btn{
  background-color: transparent;
  border:none;
  border-radius: 8px;
  color: $clr-white-color;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: transform .3s ease-in-out;

    &-primary {
      padding: 15px;

      &.btn-blue{
      background-color: $clr-blue-primary;
      &:focus {
         box-shadow: 0 0 10px rgba($clr-blue-primary, .4);
      }
      
      }
      &.btn-red {
      background-color: $clr-red-primary;
            &:focus {
         box-shadow: 0 0 10px rgba($clr-red-primary, .4);
      }
      }

}
  &-secondary{
    padding: 12px;

    &.btn-fb {
      background-color: $clr-blue-fb;
             &:focus {
         box-shadow: 0 0 10px rgba($clr-blue-fb, .4);
      }
    }
    &.btn-google{
      background-color: $clr-red-google;
             &:focus {
         box-shadow: 0 0 10px rgba($clr-red-google, .4);
      }
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba($clr-black-color, .2)
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($clr-black-color, .2)
  }

}


.btn-link {
  color:$clr-blue-primary;
  line-height: 19px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}